* {
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
}

.top-nav {
	width:70%;
	margin:10px auto;
}

.top-nav li {
	float:left;
	margin-right:1px;
	background-color:#D2EAE6;
}

.top-nav li a {
	display:block;
	width:90px;
	text-align:center;
}

.top-nav li a:hover {
	background-color:#E5D7DE;
	color:red;
}

.top-nav ul {
	position:relative;
	width:90px;
	display:none;
}

.top-nav li ul li ul {
	position:absolute;
	top:0px;
	left:90px;
}

.top-nav li:hover ul {
	display:block;
}

.top-nav li:hover ul li ul {
	display:none;
}

.top-nav li ul li:hover ul {
	display:block;	
}